@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;500&display=swap');
*{
    padding: 0;
     margin: 0;
     
     scroll-behavior: smooth;
     
}
a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

header{
    background: #000;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    
}
.logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 10px;
    margin-right: auto;
}
.profile-icon{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.logo-text{
    font-weight: 1000;
    font-size: 25px;
    margin-right: auto;
    margin-left: 15px ;
}

.navbar{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: auto;
}
.navbar li{

    padding: 0 20px;
}

.navbar li a{
    transition: all 0.3s ease 0s;
    padding: 0 10px;
    
}

.navbar li a:hover{
    color: rgb(212, 85, 39);
}
.home-area{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size : cover;
    background-position: center;



}
.about-area, .education-area, .skills-area, .hobby-area, .achievements-area, .contact-area{

    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height:auto;
    padding-top: 50px;

}
.footer{
    width: 100%;
    height: 20px;
    justify-content: center;
    margin: 0px 0px; 
    padding: 20px 0px;
    background-color: rgb(43, 40, 40);
    color: #fff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
   

.text-part{
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-decoration: none;  
    text-align: center;  
    width: 65%;
    height: 80%;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
}
p{
    padding-top: 50px;
    font-size: 25px;
    line-height: 40px;
    text-align: justify;
}
.edu-text{
    padding-top: 0;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
.text-part li{
    padding-top: 50px;
    font-size: 25px;
    line-height: 10px;
    text-align: justify;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
.social{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 20px 0;
    justify-content:center;

}
.social-icon
{   position: relative;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1px 3px 0px rgb(136, 131, 131);
    transition: .2s;
}
.social-icon:hover{
transform: scale(1.2);
} 


.typewriter{
    padding: 40vh 0;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
